html {
  overscroll-behavior: none;
}

:root {
  background: linear-gradient(to bottom, #111315, #181818);
}

body {
  max-width: 1400px;
  margin: 0 auto;
  background: linear-gradient(to bottom, #111315, #181818);
}
